body {
    background-image: url('../images/job ranking.jpeg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.boxed {
    border: 2px solid #ebf0c3; /* 枠線の色を設定 */
    padding: 10px; /* 内側の余白を設定 */
    margin: 10px 0; /* 上下の余白を設定 */
    background-color: #ebf0c3; /* 背景色を設定 */
    border-radius: 5px; /* 角を丸くする */
}

.h4 {
    margin: 2em 0 1em 0;
    border-left: 4px solid #ff8484;
    border-bottom: 1px solid #ff8484;
    padding: 7px;
    font-weight: bold;
}

/* Change the font color of span elements to blue */
span {
    color: rgb(106, 106, 220); 
}


